body {
  background-color: black;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  color: white;
  padding: 20px;
}

.row {
  margin-bottom: 20px;
}

.header{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.skills{
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
}