/* Navbar Styling */
.navbar {
  background-color: transparent !important;
  box-shadow: none;
  padding: 20px 0;
}

.navbar-brand {
  color: #fff !important;
  font-size: 2rem;
}

.nav-link {
  color: #fff !important;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.nav-link:hover {
  color: #ccc !important;
}